<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="home p-1 rounded">
            <ul class="navbar-nav">
                <li class="nav-item p-1 rounded">
                    <a class="nav-link smooth-scroll text-uppercase" href="#"><i class='bi bi-house-fill'></i> Home
                    </a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler nav mb-1" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container ">
            <div style="width: 100%; float: right;"  class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav" style=" float: right;">
                    <li class="nav-item p-1 rounded">
                        <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#about"><i class='bi bi-file-person-fill'></i> About me
                        </a>
                    </li>
                    <li class="nav-item p-1 rounded" >
                        <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase"  href="#competences"><i
                                class='bi bi-briefcase-fill'></i>Competences</a>
                    </li>
                    <li class="nav-item p-1 rounded">
                        <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#cv"> <i
                                class='bi bi-file-earmark-fill'></i>CV</a>
                    </li>

                    <li class="nav-item p-1 rounded">
                        <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#portfolio"> <i
                                class='bi bi-folder-fill'></i>Projects</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>