<section id="about">
    <div class="container">
        <h2><strong>About Me</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="assets/images/user-image.jpg" alt="photo de profil" class="img-fluid">
                </picture>
               <div class="d-flex justify-content-center">
                    <a  class="btn-social-media" href="https://www.linkedin.com/in/alexanderrocamiroshnychenko/" rel="tooltip" target="_blank"  title="Follow Me on Linkedin">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://github.com/alexanderroca" rel="tooltip" target="_blank" title="Follow Me on GitHub" >
                        <i class="bi bi-github"></i></a>
                </div>
               
              
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Computer Engineer student</h3>
                <p class="font-italic">
                    Interested in new technologies and working methods, with a lot of desire to learn and be able to become a great professional. 
                    <br>My fields of interest are: <b>Cibersecurity</b>, <b>Systems Administration</b>, <b>Managing Projects</b> and <b>Back-End development</b>.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <i class="bi bi-geo-alt-fill"></i><strong> Mobility around the Metropolitan area of Barcelona</strong>
                            </li>
                            <li>
                                <i class="bi bi-building"></i><strong> Barcelona, Spain</strong>
                            </li>
                            <li>
                                <i class="bi bi-envelope-fill"></i><strong><a href="mailto:alex.rocanv@gmail.com">
                                        alex.rocanv@gmail.com</a></strong>
                            </li>
                       
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <i class="bi bi-gift-fill"></i><strong> 23 years</strong>
                            </li>
                            <li>
                                <i class="bi bi-award-fill"></i><strong> 4th year Computer Engineer student at LaSalle</strong>
                            </li>
                            <li>
                                <i class="bi bi-laptop-fill"></i><strong> IT Intern at MB92 </strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    I am currently working as an IT intern at <a href="https://mb92.com">MB92</a> , I have a contract until the end of September.
                    Open to any opportunity to grow as a person and professional.
                </p>
            </div>
        </div>
    </div>
</section>