h2{
    color: rgb(22, 59, 90);
}
li.not-active{
  background-color: rgb(95, 146, 161);
}
li.active{
  background-color: rgb(6, 46, 58);
}

.img-wrap {
  vertical-align: top;
  background: top center;
  background-size: cover;
  position: relative;
}

.links{
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
}